{% extends 'base.html.twig' %}

{% block content %}
  <h1>Welcome to the Guest Homepage</h1>
  <p>Please create an account or log in to access more features.</p>
  <a href="{{ path('app_register') }}">Create an Account</a>
  <a href="{{ path('app_login') }}">Log In</a>
{% endblock %}
