{% extends 'base.html.twig' %}

{% block content %}
  <h1>Welcome, {{ user.username }}</h1>
  <p>You are logged in. Add your content here.</p>
  <!-- Display user-specific data or perform other operations -->
{% endblock %}
